<a href="https://colab.research.google.com/github/eshwarchow/66f3/blob/master/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#string declare
name='eshu'
city="hyd"
address='''kphb'''
print(type(name))
print(type(city))
print(type(address))
print(name,city,address)
#+ve index
print(city[1])
#-ve index
print(city[-1])
#extract range of values or slice of characters
#slice operatorcan be used when we need:
institute_name='cmrit in hyd'
print(institute_name[6:8])
list1=[0,1,2,3,4,5]
print(list1[::2])
#find()funtion or index and we use "r" for reverse
institute_name='cmrit in hyd'
print(institute_name.find('in'))
#replace()string handling function
institute_name='cmrit in hyd'
print(institute_name.replace("in","is"))

<class 'str'>
<class 'str'>
<class 'str'>
eshu hyd kphb
y
d
in
[0, 2, 4]
6
cmrit is hyd

In [15]:
#Tuple declaration
t1=() #empty tuple
t2=(1122,'eshu','software','IT',9000.0)
#use tuple fucntion to convert list as tuple
list1=['venkat','srini','lakshmi']
print(list1)
t3=tuple(list1)
print(t3)
#access tuple elements:linear DS
#forward index left to right
print(t2[0])
print(t2[1])
#negative index
print(t2[-1])
print(t2[-3])
#slice operator:range of values can be retrieved
print(t2[2:4])
#what operation can be application to apply on tuple
#cancatenation between 2 tuples
print(t2+t3)
#count()method for string,list,tuple
print(t2.count('eshu'))
#index()method
print(t2.index('software'))
#tuple packing concept
#assiginng an individual elements to an entity called tuple
name='srini'
phone='9121372701'
location='hyd'
t5=name,phone,location
print(t5)
#tuplle unpacking
name,phone,location=t5
print(name)
print(phone)
print(location)
#List of tuples concept
List3=[('venkat','hyd'),('srini','kphb')]
print(List3)

['venkat', 'srini', 'lakshmi']
('venkat', 'srini', 'lakshmi')
1122
eshu
9000.0
software
('software', 'IT')
(1122, 'eshu', 'software', 'IT', 9000.0, 'venkat', 'srini', 'lakshmi')
1
2
('srini', '9121372701', 'hyd')
srini
9121372701
hyd
[('venkat', 'hyd'), ('srini', 'kphb')]

In [ ]:
#list ds
l1=[]#empty list
l2=[1010,'eswar',5000.0,'hyd']
print(type(l1))
print(l2)
#string can be convert as list
name="laxmi"
#justication that string as immutable and list as mutable
l3=list(name)
l3[2]="lsh"

print(l3)
print(name)
#forward index
print(l2[1])
#backward
print(l2[-1])
#slice
print(l2[1:])
#concattenation bwt two lists
print(l2+l3)
#write a program tp append an element in the existing list
l2.append('9121372701')
print(l2)
l4=[1122,1133,1144,1155]
l4.insert(0,1112)
print(l4)
#extend():it merge two lists and append all the 2nd list elements in
l2.extend(l4)
print(l2)
#meta data related operatons on list
print(len(l2))
#nested list 2d data
a=[[1,2,3],[4,5,6],[7,8,9]]
print(a[0][0])

<class 'list'>
[1010, 'eswar', 5000.0, 'hyd']
['l', 'a', 'lsh', 'm', 'i']
laxmi
eswar
hyd
['eswar', 5000.0, 'hyd']
[1010, 'eswar', 5000.0, 'hyd', 'l', 'a', 'lsh', 'm', 'i']
[1010, 'eswar', 5000.0, 'hyd', '9121372701']
[1112, 1122, 1133, 1144, 1155]
[1010, 'eswar', 5000.0, 'hyd', '9121372701', 1112, 1122, 1133, 1144, 1155]
10
1

Ds:
1.linear ds:ordered manner
  ex:stack,linkedlist
2.non liner ds:inordered manner
  ex:tree,graph
according to py,we categorize below data structure/collections:
1.strind ds:
           String is immutable,once it is created further can not be changed.
2.list ds:declared in [].
3.tuple ds:
          tuple ds is immutable and tuple is read only data structure,once it is created further it does not allow to edit.Tuple store data in  linear fashion .it allows to acess elements using index,slice operatore methods
          Tuple is declared with the help of () parenthesis and tuple packing and unpacking concept it folows.

4.set ds:
        it is mutable,set ds is declared with{}.empty set can be only created with builtin function set().set ds does not maintain insertion order in ds,randomly it changes its positions dymanically.index and slice not allowed and set is not allowed duplicate values.
5.dictionary ds:
                dictonary is mutable DS and it is declared with {} .it hlod the data in the form of key:value pairs.dict dats is resemble as Json(java script object notation data).dict never maintain insertion oder of the elements.hence index,slice operator will not work.

In [26]:
#declaration of set ds
set1=set()
print(type(set1))
set2={501,'anu','ece',9000.0}
print(set2)
#write a python program to remove duplicate values from the list
list2=[501,502,501]
set3=set(list2)
print(list2)
print(set3)
#operations applied on set data struct
#union(),intersection(),difference()
set5_cse={'eshu','anu','chinnu'}
set6_ece={'eshu','anu','harsha'}
print(set5_cse.union(set6_ece))
#issubseta() funntion
set5_cse.issubset(set6_ece)
#issuperset() funtion
set5_cse.issuperset(set6_ece)
set6_ece.issuperset(set5_cse)

<class 'set'>
{'ece', 9000.0, 501, 'anu'}
[501, 502, 501]
{501, 502}
{'harsha', 'eshu', 'chinnu', 'anu'}

False

In [34]:
#delcaration of dictionary
#method:empyt can be created
dic1={}
print(dic1)
#method:static dictinary(key:value)
dic2={'040':'ts','030':'chennai','020':'pune'}
print(dic2)
print(dic2.keys())
print(dic2.items())#list of tuples
#create dictinary using list if tuples
list_of_tuples = [('155.1.1.0', 'shalaja'), ('255.1.1.1', 'ankith')]

final_ip_info=dict(list_of_tuples)
print(final_ip_info)
print(final_ip_info.keys())
#zip()funtion
list8=['eshu','raj']
list9=['chow','reddy']
print=dict(zip(list8,list9))

{}
{'040': 'ts', '030': 'chennai', '020': 'pune'}
dict_keys(['040', '030', '020'])
dict_items([('040', 'ts'), ('030', 'chennai'), ('020', 'pune')])
{'155.1.1.0': 'shalaja', '255.1.1.1': 'ankith'}
dict_keys(['155.1.1.0', '255.1.1.1'])

In [36]:
list8=['eshu','raj']
list9=['chow','reddy']
print=dict(zip(list8,list9))

TypeError: 'dict' object is not callable