<a href="https://colab.research.google.com/github/eshwarchow/66f3/blob/master/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#string declare
name='eshu'
city="hyd"
address='''kphb'''
print(type(name))
print(type(city))
print(type(address))
print(name,city,address)
#+ve index
print(city[1])
#-ve index
print(city[-1])
#extract range of values or slice of characters
#slice operatorcan be used when we need:
institute_name='cmrit in hyd'
print(institute_name[6:8])
list1=[0,1,2,3,4,5]
print(list1[::2])
#find()funtion or index and we use "r" for reverse
institute_name='cmrit in hyd'
print(institute_name.find('in'))
#replace()string handling function
institute_name='cmrit in hyd'
print(institute_name.replace("in","is"))

<class 'str'>
<class 'str'>
<class 'str'>
eshu hyd kphb
y
d
in
[0, 2, 4]
6
cmrit is hyd

In [ ]:
#list ds
l1=[]#empty list
l2=[1010,'eswar',5000.0,'hyd']
print(type(l1))
print(l2)
#string can be convert as list
name="laxmi"
#justication that string as immutable and list as mutable
l3=list(name)
l3[2]="lsh"

print(l3)
print(name)
#forward index
print(l2[1])
#backward
print(l2[-1])
#slice
print(l2[1:])
#concattenation bwt two lists
print(l2+l3)
#write a program tp append an element in the existing list
l2.append('9121372701')
print(l2)
l4=[1122,1133,1144,1155]
l4.insert(0,1112)
print(l4)
#extend():it merge two lists and append all the 2nd list elements in
l2.extend(l4)
print(l2)
#meta data related operatons on list
print(len(l2))
#nested list 2d data
a=[[1,2,3],[4,5,6],[7,8,9]]
print(a[0][0])

<class 'list'>
[1010, 'eswar', 5000.0, 'hyd']
['l', 'a', 'lsh', 'm', 'i']
laxmi
eswar
hyd
['eswar', 5000.0, 'hyd']
[1010, 'eswar', 5000.0, 'hyd', 'l', 'a', 'lsh', 'm', 'i']
[1010, 'eswar', 5000.0, 'hyd', '9121372701']
[1112, 1122, 1133, 1144, 1155]
[1010, 'eswar', 5000.0, 'hyd', '9121372701', 1112, 1122, 1133, 1144, 1155]
10
1

Ds:
1.linear ds:ordered manner
ex:stack,linkedlist
2.non liner ds:inordered manner
ex:tree,graph
according to py,we categorize below data structure/collections:
1.strind ds: String is immutable,once it is created further can not be changed.
2.list ds:
3.tuple ds:
4.set ds:
5.dictionary ds: